---
- name: Install yay AUR helper
  package:
    name:
      - base-devel
      - git
    state: present
  tags: [client]

- name: chekc if yay is already installed
  command: which yay
  register: yay_check
  changed_when: false
  failed_when: false
  tags: [client]

- name: clone yay repo
  become: false
  git:
    repo: https://aur.archlinux.org/yay-bin.git
    dest: /tmp/yay
    version: master
  when: not yay_check.rc == 0
  tags: [client]

- name: build yay
  become: false
  command: makepkg --noconfirm
  args:
    chdir: /tmp/yay
  when: not yay_check.rc == 0
  tags: [client]

- name: install yay
  shell: pacman -U --noconfirm /tmp/yay/*pkg.tar.zst
  when: not yay_check.rc == 0
  tags: [client]

- name: Remove build directory
  file:
    path: /tmp/yay
    state: absent
  when: not yay_check.rc == 0
  tags: [client]

#----------------------#
#setup aur_builder user#
#----------------------#

- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel
  tags: [client]

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: yes
    mode: 0644
    validate: "visudo -cf %s"
  tags: [client]
