---
#----------------------#
#setup aur_builder user#
#----------------------#

- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel
  tags: [client]

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: yes
    mode: 0644
    validate: "visudo -cf %s"
  tags: [client]

#------------#
#Installation#
#------------#

- name: Install aylurs-gtk-shell from AUR
  kewlfft.aur.aur:
    name: aylurs-gtk-shell-git
    use: yay
    state: present
  become: yes
  become_user: aur_builder
  tags: [client]
#-------------#
#Configuration#
#-------------#

