---
#----------------------------------#
#  installations: zsh & packages   #
#----------------------------------#

### --- Arch --- ###
- name: Install zsh, fastfetch, fzf on Arch
  package:
    name: [zsh, fastfetch, fzf]
    state: present
  when: ansible_facts['distribution'] in ["Archlinux"]
  tags: [server, client]

### --- Ubuntu, Debian --- ###
- name: Install zsh, fastfetch, fzf on Ubuntu
  block:
    - name: Install zsh + fzf on Ubuntu
      package:
        name: [zsh, fzf]
        state: present

    - name: Get latest Fastfetch release info from GitHub
      uri:
        url: https://api.github.com/repos/fastfetch-cli/fastfetch/releases/latest
        return_content: yes
      register: fastfetch_release

    - name: Set Fastfetch version
      set_fact:
        fastfetch_version: "{{ fastfetch_release.json.tag_name }}"

    - name: Download Fastfetch .deb package (amd64)
      get_url:
        url: "https://github.com/fastfetch-cli/fastfetch/releases/download/{{ fastfetch_version }}/fastfetch-linux-amd64.deb"
        dest: "/tmp/fastfetch-linux-amd64.deb"
        mode: "0644"

    - name: Install Fastfetch from .deb package
      apt:
        deb: "/tmp/fastfetch-linux-amd64.deb"
        state: present

    - name: Clean up downloaded .deb file
      file:
        path: "/tmp/fastfetch-linux-amd64.deb"
        state: absent

    - name: disable welcome Text (motd)
      file:
        path: "/home/{{ target_user }}/.hushlogin"
        state: touch

  when: ansible_facts['distribution'] in ["Debian",  "Ubuntu"]
  tags: [server, client]

### --- FEDORA --- ###
- name: setup ZSH on Fedora
  block:
    - name: Install zsh
      ansible.builtin.dnf:
        name: [zsh, fastfetch, fzf]
        state: present
        use_backend: dnf4
  when: ansible_facts['distribution'] == "Fedora"
  tags: [server, client]

### --- OMZ --- ###
- name: Install OMZ for target user
  block:
    - name: Install OMZ
      shell: curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh | sh -s -- --unattended
      args:
        creates: "/home/{{ target_user }}/.oh-my-zsh"
      environment:
        HOME: "/home/{{ target_user }}"

    ## -- plugins -- ##
    - name: Install zsh-autosuggestions for target user
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-autosuggestions
        dest: "/home/{{ target_user }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
        version: master

    - name: Install zsh-syntax-highlighting
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-syntax-highlighting
        dest: "/home/{{ target_user }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

    - name: Install p10k - omz
      ansible.builtin.git:
        repo: https://github.com/romkatv/powerlevel10k.git
        dest: "/home/{{ target_user }}/.oh-my-zsh/custom/themes/powerlevel10k"
        depth: 1
        version: master
  become: yes
  # become_user: "{{ target_user | default(ansible_facts['user_id']) }}"
  when: ansible_facts['distribution'] in ["Archlinux", "Debian", "Ubuntu", "Fedora"]
  tags: [server, client]

#---------------------------#
#  configs & default shell  #
#---------------------------#

- name: Make zsh default & copy configs
  block:
    - name: make zsh default
      user:
        name: "{{ target_user  }}"
        shell: /usr/bin/zsh
    - name: copy zsh configs
      copy:
        src: ./.zshrc
        dest: "/home/{{ target_user }}/.zshrc"
        force: yes
    - name: copy p10k configs
      copy:
        src: ./.p10k.zsh
        dest: "/home/{{ target_user }}/.p10k.zsh"
        force: yes
  become: yes
  # become_user: "{{ target_user | default(ansible_facts['user_id']) }}"
  when: ansible_facts['distribution'] in ["Archlinux", "Debian", "Ubuntu", "Fedora"]
  tags: [server, client]

- name: create fastfetch directory
  file:
    path: "/home/{{ target_user }}/.config/fastfetch"
    state: directory
  tags: [client]

- name: copy fastfetch configs
  copy:
    src: ./fastfetch/config-client.jsonc
    dest: "/home/{{ target_user }}/.config/fastfetch/config.jsonc"
    force: yes
  tags: [client]

- name: copy fastfetch configs
  copy:
    src: ./fastfetch/config-server.jsonc
    dest: "/home/{{ target_user }}/.config/fastfetch/config.jsonc"
    force: yes
  tags: [server]
