---
### via command: ###
- name: Install ashell from AUR (Arch only)
  command: yay -S --noconfirm ashell
  args:
    creates: /usr/bin/ashell
  when: ansible_facts['distribution'] == "Archlinux"
  # when: ansible_facts['distribution'] == "Archlinux"
  tags: [client]

### via plugin: ###
# - name: Install ashell from AUR (Arch only)
#   kewlfft.aur.aur:
#     name: ashell
#     use: yay
#     state: present
#   when: ansible_facts['os_family'] == 'Archlinux'
#   tags: [client]

- name: Create ashell config directory
  file:
    path: "/home/{{ target_user }}/.config/ashell"
    state: directory
  tags: [client]

- name: Symlink ashell config
  file:
    src: "/home/{{ target_user }}/.dotfiles/roles/ashell/files/config.toml"
    dest: "/home/{{ target_user }}/.config/ashell/config.toml"
    state: link
    force: yes
  tags: [client]
