---
- name: install git
  package:
    name: git
    state: present
  become: yes
  tags: [server, client]
  # when: ansible_facts['distribution'] in ["Debian", "Ubuntu", "Archlinux"]
  when: ansible_facts['distribution'] in ["Debian", "Ubuntu", "Archlinux"]

- name: Install git (fedora)
  ansible.builtin.dnf:
    name: git
    state: present
    use_backend: dnf4
  become: yes
  tags: [server, client]

  # when: ansible_facts['distribution'] == "Fedora"
  when: ansible_facts['distribution'] == "Fedora"

- name: create git config (template)
  template:
    src: gitconfig.j2
    dest: "/home/{{ target_user }}/.gitconfig"
  tags: [server, client]
